.seatsSelect {
  --gap: 16px;
  --size: 24px;
  display: grid;
  gap: calc(var(--gap) * 2);
  justify-items: center;

  .display {
    position: relative;
    padding-top: 32px;
    text-align: center;
    span {
      color: var(--accent);
      font-size: 20px;
      font-weight: 600;
    }
    i {
      color: var(--accent);
      text-shadow: 0 4px 13px var(--accent);
      pointer-events: none;
      --display-size: 400px;
      font-size: var(--display-size);
      position: absolute;
      top: calc(var(--display-size) / -2.3);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.place {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding-right: calc(var(--size) + calc(var(--gap) / 2));
  gap: calc(var(--gap) / 2);
}
.rows,
.seats {
  display: grid;
  gap: var(--gap);
  grid-auto-rows: var(--size);
}
.row {
  display: grid;
  align-items: center;
  justify-items: center;
}
.seats {
  font-size: var(--size);
  grid-template-columns: repeat(9, var(--size));
}
