.seatsSelect {
  display: grid;
  gap: calc(var(--seatGap) * 2.8);
  justify-items: center;

  .display {
    position: relative;
    padding-top: 32px;
    text-align: center;
    span {
      color: var(--accent);
      font-size: 20px;
      font-weight: 600;
    }
    i {
      color: var(--accent);
      text-shadow: 0 4px 13px var(--accent);
      pointer-events: none;
      --display-size: 400px;
      font-size: var(--display-size);
      position: absolute;
      top: calc(var(--display-size) / -2.3);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.place {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding-right: calc(var(--seatSize) + calc(var(--seatGap) / 2));
  gap: calc(var(--seatGap) / 2);
}
.rows,
.seats {
  display: grid;
  gap: var(--seatGap);
  grid-auto-rows: var(--seatSize);
}
.rows {
  font-size: calc(var(--seatSize) / 2);
  font-weight: 700;
}
.row {
  display: grid;
  align-items: end;
  justify-items: center;
}
.seats {
  font-size: var(--seatSize);
  grid-template-columns: repeat(9, var(--seatSize));
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--seatGap);
  justify-items: center;
  .infoItem {
    display: flex;
    gap: calc(var(--seatGap) / 2);
    align-items: center;
    font-weight: 600;
    i {
      font-size: 12px;
    }
  }
}
.availabel {
  color: var(--statusAvailable);
}
.busy {
  color: var(--statusBusy);
}
.selected {
  color: var(--statusSelected);
}
