:root {
  // Colors
  --secondary: #7f8e91;
  --linkColor: #035063;
  --default: #333;
  --light: white;

  //Sizes

  --margin: 16px;

  //font-size
  --btnSize: 13px;
  //box-shadow
  --shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}
