.TicketPage {
  display: grid;
  justify-content: center;
  .header {
    margin-bottom: calc(var(--margin) * 2);
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--margin) * 4);
  align-items: start;
}
.info {
  display: grid;
  gap: calc(var(--margin) * 2);
}
.title {
  text-align: center;
}
.titleCenter {
  text-align: center;
}
.buyBtn {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--light);
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: var(--margin);
  box-shadow: var(--shadow);
  transition: filter 0.4s ease-in-out;
  &:hover{
    filter: brightness(110%);
  }
}
.disable{
  pointer-events: none;
  opacity: 0.5;
}